/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

/* 




 */
:root {
  --clr-primary-light: #cce1f1;
  --clr-primary-light-1: #b3e1f1;
  --clr-primary-light-2: #66c4e2;
  --clr-primary: #009ccf;
  --clr-primary-dark-1:#007da6;
  --clr-primary-dark-2:#004e68;
  --clr-p:#80a7b4;
  --clr-p-1:#ccdce1;
  --color-gray-dark: #777;
--color-gray-dark-2: #999;
--color-gray-dark-3: #333;

--color-gray-light-1: #f7f7f7;
--color-gray-light-2: #eee;

--color-white: #fff;
--color-black: #000; 
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}



/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--color-white);
  color: var(--color-gray-dark-2);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  color: var(--clr-primary-dark-2);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-primary-dark-2);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--color-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  position: relative;
  z-index: 2;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary);
  border-radius: var(--radius);
  z-index: 1;
  transition: var(--transition);
  opacity: 0;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--color-white);
}
.btn:hover::before {
  transform: scale(1.5);
  opacity: .3;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  margin: 0 auto;
  height: .25rem;
  background-color: var(--clr-primary);
  margin-bottom: .5rem;
}
.section-title {
    margin-bottom: 4rem;
    text-align: center;
}

/* hero */
.header {
  background-color: var(--clr-primary-light);
  min-height: calc(100vh - 5rem);
  width: 100%;
}
.hero  .underline{
  margin-left: 0;
  margin-right: 0;
}
.hero-img {
  display: none;
}
.hero-center {
  display: grid;
  place-items: center;
  height: calc(100vh - 5rem);
}
.hero-info h4{
  color: var(--color-gray-dark-2);
  margin-left: .2rem;
}
.hero-icons {
  justify-items: start;
}
.btn-hero {
  margin-top: 1.5rem;
}
.photo {
  max-width: 25rem;
  height: 28rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}
@media only screen and (min-width:992px) {
  .hero-img, .about-img{
    display: block;
    position: relative;
  }
  .hero-img::before, .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--clr-primary);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
    /* z-index: -1; */
  }

  

  .hero-center {
      grid-template-columns: 1fr 1fr;
    }
}
/* nav */

.nav-links{
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
  background-color: var(--clr-primary-light);
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: var(--light-shadow);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.nav-btn {
  background: none;
  border: transparent;
  color: var(--clr-primary);
  cursor: pointer;
  font-size: 1.5rem;
  justify-self: flex-end;
}
.nav-logo {
  color: var(--clr-primary-dark-2);
  font-size: 1.8rem;
  font-family: var(--ff-primary);
  font-weight: bold;
  text-shadow: var(--dark-shadow);
}
.nav-logo span {
  color: var(--clr-primary);
}

/* sidebar */
.side-bar {
   position: fixed;
   z-index: 5;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color: var(--clr-primary-light-2);
   display: grid;
   place-items: center;
   transition: var(--transition);
   transform: translateX(-100%);
}
.show-side {
  transform: translateX(0); 
}
.side-links {
  text-align: center;
}
.side-link {
  color: var(--clr-primary-dark-2);
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  transition: var(--transition);
}
.side-link:hover{
  border-bottom: 1px solid var(--color-gray-dark-2);
  color:var(--color-gray-dark-2);
}
.soical-icons {
  display: grid;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
 
  margin-top: 5rem;

}
.side-bar .soical-icons {
  justify-items: center;
}
.social-icon {
  color: var(--clr-primary-dark-2);
  transition: var(--transition);
  font-size: 1.2rem;
  
}
.social-icon:hover {
  color: var(--color-gray-dark-2);
}
.close-btn {
  position: absolute;
  top: 1.6rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.3rem;
  color: rgb(156, 17, 17);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    justify-self: end;
    column-gap: 2rem;
  }
  .nav-link {
    text-transform: capitalize;
    color: var(--color-gray-dark-3);
    font-weight: bold;
    font-size: 1rem;
    transition: var(--transition);
    position: relative;
  }
  .nav-link:hover {
    color: var(--clr-primary-light-2);
    
  }
 
}


/* about me */

.about-center {
  display: grid;
  place-items: center;
  gap: 4rem 2rem;
}




.about-title {
text-align: left;
margin-bottom: 2rem;
}
.about-title .underline {
  margin-left: 0;
  margin-top: -.5rem;
}

@media only screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img::before {
    left: -2rem;
  }
}

/* services */
.services {
  background-color: var(--color-gray-light-1);
}
.service {
  text-align: center;
  padding: 2rem 1rem;
 transition: var(--transition);
  border-radius: var(--radius);
  background-color: var(--color-white);
  box-shadow: var(--light-shadow);
 
  margin-bottom: 2rem;
}

.service i {
  font-size: 2rem;
  margin-bottom: 2rem;
  transition: var(--transition);
}

.service .underline {
  width: 3rem;
  height: .12rem;
  margin-bottom: 2rem;
  transition: var(--transition);
}
.service p {
  transition: var(--transition);
}
.service h4 {
  color: var(--clr-primary-dark-2);
  transition: var(--transition);
}
.service:hover {
  color: var(--color-gray-light-1);
  background-color: var(--clr-primary);
}
.service:hover p{
  color: var(--color-gray-light-1);
 
}
.service:hover h4{
  color: var(--color-gray-light-1);
 
}
.service:hover .underline {
  background-color: var(--color-gray-light-1);
}
/* .services-center {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(278.6px,1fr));
} */

@media screen and (min-width: 768px){
   .services-center {
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 2rem;
   }
}
@media screen and (min-width: 992px){
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* works */
.works-title p {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}

.work {
  position: relative;
  margin-bottom: 2rem;
  background-color: var(--clr-primary);
  border-radius: var(--radius);
}
.work img {
  height: 15rem;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--radius);
}
.img-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--color-white);
  opacity: 0;
  transition: var(--transition);
}
.img-preview p {
  font-size: 1.2rem;
  color: var(--color-white);
}
.work:hover img {
  opacity: .1;
}
.work:hover .img-preview {
  opacity: 1;
}
.work::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-white);
  opacity: 0;
  transition: var(--transition);
}

.work:hover::after {
  transform: scale(.5);
  opacity: 1;
}

@media only screen and (min-width:768px) {
  .works-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media only screen and (min-width:992px) {
  .works-center {
    
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}
@media only screen and (min-width:1170px) {
  .works-center {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12.5rem 12.5rem;
    grid-template-areas: "a b b" 
                         "a c d";
                         
    gap: 2rem;                     
  }
 

  .work {
    height: 100%;
  }
  .work img {
    height: 100%;
  }
  .work-1 {
    grid-area: a;
  }
  .work-2 {
    grid-area: b;
  }
  .work-3 {
    grid-area: c;
  }
  .work-4 {
    grid-area: d;
  }
}

/* connect */
.connect {
  position: relative;
  min-height: 40vh;
  padding: 10rem 0;
  margin: 5rem 0;
  display: grid;
  place-items: center;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
  z-index: -1;
}

.connect-info {
  margin: 0 1rem;
  text-align: center;
  background-color: var(--clr-primary-light-1);
  padding: 3rem 5rem 10rem 5rem ;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.connect-info p {
  max-width: 30rem;
}
.connect-info .section-title {
  margin-bottom: 2rem;
}

/* skills */

.skill-container {
  width: 100%;
  height: 1rem;
  background-color: var(--clr-primary);
  border-radius: var(--radius);
  position: relative;
}
.skill-value {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--clr-primary-light-1);
  height: 100%;
  border-radius: var(--radius);
}
.skills-center article {
  margin-bottom: 4rem;
}
.skill {
  margin-bottom: 2rem;
}
.skill p {
  margin-bottom: .5rem;
  text-transform: capitalize;
}
.value-90 {
  width: 90%;
}

.value-70 {
  width: 70%;
}
.value-50 {
  width: 50%;
}
.value-60 {
  width: 60%;
}
.value-80 {
  width: 80%;
}
.skill-text {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.skill-text-90 {
  left: 90%;
}
.skill-text-80 {
  left: 80%;
}
.skill-text-70 {
  left: 70%;
}
.skill-text-60 {
  left: 60%;
}
.skill-text-50 {
  left: 50%;
}

@media only screen and (min-width: 768px ){
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}


/* timeline */
.timeline-center {
  width: 80vw;
  max-width: 30rem;
}

.timeline-item {
  margin: 0;
  padding: 4rem 2rem;
   border-top: .1rem dashed var(--clr-primary);
   position: relative;
}
.timeline-item p {
  margin-bottom: 0;
}
.timeline-item:nth-child(even) {
  border-left: .1rem dashed var(--clr-primary);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}
.timeline-item:nth-child(odd) {
  border-right: .1rem dashed var(--clr-primary);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-number {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-primary);
  color: var(--color-white);
  display: grid;
  place-items: center;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.timeline-item:nth-child(odd) .timeline-number {
  right: 0;
  transform: translate(50%,-50%);
}
.timeline-item:nth-child(even) .timeline-number {
  left: 0;
}
.timeline-item:first-child  {
  border-top-right-radius: 0;
  border-top: 0;
}
.timeline-item:last-child  {
  border-bottom-right-radius: 0;
}


/* blog */
.card {
  height: 29rem;
  position: relative;
  perspective: 1800px;
}
.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 2s linear;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.card-info {
  padding: 1rem 1.5rem;
}
.card-front img {
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-footer {
 display: grid;
 grid-template-columns: 1fr auto;
 align-items: center;
}
.card-footer img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
.card-back {
  transform: rotateY(180deg);
   background-color: var(--clr-primary-dark-1);
  display: grid;
   place-items: center;
}
.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0);
}

.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
  gap:3rem 1rem;
}



/* footer */
.footer {
  background-color: var(--color-gray-dark-3);
  padding-bottom: 2rem;
  display: grid;
  place-items: center;
}

.footer  p{
  color: #fff;
}
.footer  p{
  color: #fff;
}

/* pages */

.single-page {
  background: var(--clr-primary-light);
  min-height: calc(100vh - 5rem - 184px) ;
}

.page-info {
  max-width: 700px;
}
.page-info a {
  color: var(--clr-primary-dark-2);
  font-weight: bold;
  transition: var(--transition);
}
.page-info a:hover {
  color: var(--clr-primary);
}

/* projects page */
.projects-hero {
  height: 40vh;
  background: var(--clr-primary-light);
  display: grid;
  place-items: center;
}
.projects-hero .section-title {
  margin-bottom: 0;
}

.single-project {
  background: var(--color-gray-light-1);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.project-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.project-container{
  position: relative;
}
.project-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  background: var(--clr-primary);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--color-white);
  border: .3rem solid var(--color-white);
}

.project-info {
  padding: 3rem 1.5rem;
}
.project-footer {
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--clr-primary-dark-2);
}
.project-footer a{
  color: var(--clr-primary-dark-2);
}

.projects-center {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
  gap: 3rem 1rem;
}
